<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/Charge.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/Charge.css}">
    <title>充电</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" id="naviInfo">
                <form action="/release" method="get">
                    <button type="submit" class="btn btn-info" style="margin-top: 8px;margin-right: 15px">退出登录</button>
                </form>
            </ul>
        </div>
    </div>
</nav>
<div>
    <div class="box" id="bigbox">
        <h1 id="chargeStatus" style="margin-top: 3px;"></h1>
    </div>
    <div class="box2">
        <div id="info">
            <!--                <div style="width: 15vw; margin-left: 10vw; margin-top: 10px;">-->
            <!--                    <div style="display: flex; justify-content:space-between;">-->
            <!--                        <div> 订单编号：</div>-->
            <!--                        <div> XXX</div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--                <div style="width: 15vw; margin-left: 10vw; margin-top: 10px;">-->
            <!--                    <div style="display: flex; justify-content:space-between;">-->
            <!--                        <div> 充电类型：</div>-->
            <!--                        <div> </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--                <div style="width: 15vw; margin-left: 10vw; margin-top: 10px;">-->
            <!--                    <div style="display: flex; justify-content:space-between;">-->
            <!--                        <div> 充电度数：</div>-->
            <!--                        <div> 快充</div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--                <div style="width: 15vw; margin-left: 10vw; margin-top: 10px;">-->
            <!--                    <div style="display: flex; justify-content:space-between;">-->
            <!--                        <div> 充电时长：</div>-->
            <!--                        <div></div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--                <div style="width: 15vw; margin-left: 10vw; margin-top: 10px;">-->
            <!--                    <div style="display: flex; justify-content:space-between;">-->
            <!--                        <div> 剩余充电时长：</div>-->
            <!--                        <div> X </div>-->
            <!--                        <div> 小时 </div>-->
            <!--                        <div> Y </div>-->
            <!--                        <div> 分钟 </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--                <div style="width: 15vw; margin-left: 10vw; margin-top: 10px;">-->
            <!--                    <div style="display: flex; justify-content:space-between;">-->
            <!--                        <div> 当前汽车电量：</div>-->
            <!--                        <div> X </div>-->
            <!--                        <div> 度</div>-->
            <!--                    </div>-->
            <!--                </div>-->
        </div>
        <div id="msgButton">

        </div>
    </div>
</div>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
<script th:inline="javascript">
    let flag = 0;
    window.onload = function () {
        startRecharge();
        getStatus();
    };

    function startRecharge() {
        $.ajax({
            url: "/customer/startRecharge",
            type: "POST",
            data: {},
            success: function (result) {
                if (result != "success") {
                    alert("充电失败！");
                }
            }
        });
    }

    function getStatus() {
        $.ajax({
            url: "/customer/checkCarState",
            type: "POST",
            data: {},
            success: function (result) {
                //根据requestInfo中的nowCapacity和chargingNum计算剩余充电时长和电量
                let status = result;
                let msg = "";
                let chargeStatus = "充电中...";
                let msgButton = "";
                let nowCapacity = status.nowCapacity;
                let chargingNum = status.chargingNum;
                let power;
                if (status.chargingMode == "fast") {
                    power = 30;//功率
                } else {
                    power = 10;
                }
                let totalTime = (chargingNum / power) * 60;
                let hour = Math.floor((chargingNum - nowCapacity) / power);
                let minute = ((chargingNum - nowCapacity) / power - hour) * 60;
                let chargingMode;
                if (status.chargingMode == "fast") {
                    chargingMode = "快充";
                } else if (status.chargingMode == "slow") {
                    chargingMode = "慢充";
                }
                //判断是否还在充电
                if (status.carState == "chargingDone") { //充电结束
                    // if(flag == 0){
                    //     alert("充电完成！");
                    //     flag = 1;
                    // }
                    chargeStatus = "充电完成！";
                    msg += "<div style=\"width: 15vw; margin-left: 10vw; margin-top: 10px;\">\n" +
                        "                <div style=\"display: flex; justify-content:space-between;\">\n" +
                        "                    <div> 充电类型：</div>\n" +
                        "                    <div>" + chargingMode + "</div>\n" +
                        "                </div>\n" +
                        "            </div>\n" +
                        "            <div style=\"width: 15vw; margin-left: 10vw; margin-top: 10px;\">\n" +
                        "                <div style=\"display: flex; justify-content:space-between;\">\n" +
                        "                    <div> 充电度数：</div>\n" +
                        "                    <div>" + chargingNum + "</div>\n" +
                        "                </div>\n" +
                        "            </div>\n" +
                        "            <div style=\"width: 15vw; margin-left: 10vw; margin-top: 10px;\">\n" +
                        "                <div style=\"display: flex; justify-content:space-between;\">\n" +
                        "                    <div> 充电时长：</div>\n" +
                        "                    <div>" + totalTime + "分钟</div>\n" +
                        "                </div>\n" +
                        "            </div>" +
                        "            <div style=\"width: 15vw; margin-left: 10vw; margin-top: 10px;\">\n" +
                        "                <div style=\"display: flex; justify-content:space-between;\">\n" +
                        "                    <div> 当前汽车电量：</div>\n" +
                        "                    <div> " + nowCapacity.toFixed(1) + " </div>\n" +
                        "                    <div> 度</div>\n" +
                        "                </div>\n" +
                        "            </div>";
                    msgButton += "<button style=\"margin-top:10px;text-align: center\" onclick=\"endRecharge()\" class=\"bot\">支付账单</button>";
                } else {
                    msg += "<div style=\"width: 15vw; margin-left: 10vw; margin-top: 10px;\">\n" +
                        "                <div style=\"display: flex; justify-content:space-between;\">\n" +
                        "                    <div> 充电类型：</div>\n" +
                        "                    <div>" + chargingMode + "</div>\n" +
                        "                </div>\n" +
                        "            </div>\n" +
                        "            <div style=\"width: 15vw; margin-left: 10vw; margin-top: 10px;\">\n" +
                        "                <div style=\"display: flex; justify-content:space-between;\">\n" +
                        "                    <div> 充电度数：</div>\n" +
                        "                    <div>" + chargingNum + "</div>\n" +
                        "                </div>\n" +
                        "            </div>\n" +
                        "            <div style=\"width: 15vw; margin-left: 10vw; margin-top: 10px;\">\n" +
                        "                <div style=\"display: flex; justify-content:space-between;\">\n" +
                        "                    <div> 充电时长：</div>\n" +
                        "                    <div>" + totalTime + "分钟</div>\n" +
                        "                </div>\n" +
                        "            </div>" +
                        "<div style=\"width: 15vw; margin-left: 10vw; margin-top: 10px;\">\n" +
                        "                <div style=\"display: flex; justify-content:space-between;\">\n" +
                        "                    <div> 剩余充电时长：</div>\n" +
                        "                    <div>" + hour + "</div>\n" +
                        "                    <div> 小时 </div>\n" +
                        "                    <div> " + minute.toFixed(1) + "</div>\n" +
                        "                    <div> 分钟 </div>\n" +
                        "                </div>\n" +
                        "            </div>\n" +
                        "            <div style=\"width: 15vw; margin-left: 10vw; margin-top: 10px;\">\n" +
                        "                <div style=\"display: flex; justify-content:space-between;\">\n" +
                        "                    <div> 当前汽车电量：</div>\n" +
                        "                    <div> " + nowCapacity.toFixed(1) + " </div>\n" +
                        "                    <div> 度</div>\n" +
                        "                </div>\n" +
                        "            </div>";
                    msgButton += "<button style=\"margin-top:10px;text-align: center\" onclick=\"endRecharge()\" class=\"bot\">取消充电</button>";
                }
                $("#info").html(msg);
                $("#msgButton").html(msgButton);
                $("#chargeStatus").html(chargeStatus);
            }
        });
    }

    setInterval("getStatus()", 1000); //定时每1s获取一次消息

    function endRecharge() { // 用户主动结束充电
        //let RequestInfo = [[${requestInfo}]]
        $.ajax({
            url: "/customer/endRecharge",
            type: "POST",
            data: {},
            success: function (result) {
                if (result == "success") {
                    alert("success");
                    window.location.href = "/customer/payBill";
                } else {
                    alert("error！");
                }
            }
        });
    }
</script>
</body>

</html>