<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
    <div class="box" id="bigbox">
        <h1 style="margin-top: 60px;">密码错误！登录失败</h1>
        <button  style="    margin-top: 45px;margin-left: 5px;
        width: 10vw;
        height: 5vh;
        background-color: aquamarine;
        color:honeydew;
        border-radius: 5px;
        border-color: powderblue;
        font-family: Arial, Helvetica, sans-serif;
        font-size:large;
        opacity:1;">返回登陆页面</button>
    </div>
</body>
</html>
