<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../static/css/Management.css">
  <title>用户</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" style="display:flex; justify-content:space-between;">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <form action="/goodslist" method="get">
          <button type="submit" class="btn btn-info" style="margin-top: 8px;margin-right: 15px">开关管理</button>
        </form>
      </ul>
      <ul class="nav navbar-nav">
        <form action="/release" method="get">
          <button type="submit" class="btn btn-info" style="margin-top: 8px">充电桩详情</button>
        </form>
      </ul>
      <ul class="nav navbar-nav">
        <form action="/release" method="get">
          <button type="submit" class="btn btn-info" style="margin-left: 15px; margin-top: 8px;">历史详单</button>
        </form>
      </ul>
    </div>
  </div>
</nav>
<div class="box" id="bigbox">
  <div>
    <h1>充电桩开关总管理系统</h1>
    <div style="margin-left: 10vw;display: flex;">
      <h2>全体管理：</h2>
      <button class="bot">开启全体充电桩</button>
      <button class="bot" style="margin-left: 0px;">关闭全体充电桩</button>
    </div>
    <div style="margin-left: 10vw;display: flex;justify-content: flex-start;">
      <h2>个体管理：</h2>
      <button class="bot" >开启/关闭1号充电桩</button>
      <button class="bot" style="margin-left: 0px;">开启/关闭2号充电桩</button>
      <button class="bot" style="margin-left: 0px;">开启/关闭3号充电桩</button>
      <button class="bot" style="margin-left: 0px;">开启/关闭4号充电桩</button>
      <button class="bot" style="margin-left: 0px;">开启/关闭5号充电桩</button>
    </div>
    <div style="margin-left: 10vw;display: flex;justify-content: flex-start;">
      <h2>运行状态：</h2>
      <button class="bot" >1号充电桩</button>
      <button class="bot" style="margin-left: 0px;">2号充电桩</button>
      <button class="bot" style="margin-left: 0px;">3号充电桩</button>
      <button class="bot" style="margin-left: 0px;">4号充电桩</button>
      <button class="bot" style="margin-left: 0px;">5号充电桩</button>
    </div>
    <div style="margin-left: 10vw;display: flex;justify-content: flex-start;">
      <h3>该电动桩详细运行状态如下：</h2>
    </div>
    <div class="detailedInfo">
      <!-- 是否正常工作、系统启动后累计充电次数、充电总时长、充电总电量 -->
      <div style="display: flex;">
        <div style="display: flex;flex-direction:column;" class="lie1">
          <h3 style="margin-left: 20px;">是否正常工作：</h3>
          <h3 style="margin-left: 20px;">累计充电次数：</h3>
          <h3 style="margin-left: 20px;">充电总时长：</h3>
          <h3 style="margin-left: 20px;">充电总电量：</h3>
        </div>
        <div style="display: flex;flex-direction:column;" class="lie2">
          <h3 style="margin-left: 20px;">是</h3>
          <div style="margin-left: 20px;">
            <div style="display: flex;">
              <h3>X</h3>
              <h3>时</h3>
            </div>
          </div>
          <div style="margin-left: 20px;">
            <div style="display: flex;">
              <h3>X</h3>
              <h3>次</h3>
            </div>
          </div>
          <div style="margin-left: 20px;">
            <div style="display: flex;">
              <h3>X</h3>
              <h3>度</h3>
            </div>
          </div>
        </div>
      </div>

      <!--

              <div style="display: flex;">
                  <h3 style="margin-left: 20px;">当前充电桩：</h3>
                  <h3 style="margin-left: 85px;"> X </h3>
                  <h3>号</h3>
              </div>
              <div style="display: flex;">
                  <h3 style="margin-left: 20px;">是否正常工作：</h3>
                  <h3 style="margin-left: 60px;"> X </h3>
                  <h3>号</h3>
              </div>
              <div style="display: flex;">
                  <h3 style="margin-left: 20px;">充电总时长：</h3>
                  <h3 style="margin-left: 85px;"> X </h3>
                  <h3>h</h3>
              </div>
              <div style="display: flex;">
                  <h3 style="margin-left: 20px;">充电总电量：</h3>
                  <h3 style="margin-left: 85px;"> X </h3>
                  <h3>度</h3>
              </div> -->
    </div>
  </div>
</div>
</body>

</html>