<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/register.css">
    <title>注册</title>
</head>
<body>
    <div class="box" id="bigbox">
        <h1 style="margin-top: 40px;">智能充电桩调度计费系统注册</h1>
        <div style="margin-left: 50px;">用户名：
            <input id="user" style="margin-left: 24px;" type="text" placeholder="请输入用户名">
        </div>
        <div style="margin-left: 50px;">密码：
            <input id="password" style="margin-left: 40px;" type="password" placeholder="请输入密码">
        </div>
        <script type="text/javascript" src="./js/register.js"></script>
        <button onclick="submit()" class="bot">注册</button>
    </div>
</body>
</html>
