<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/userBill.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/userBill.css">
    <title>用户历史账单</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <form action="/customer/requestRecharge" method="get">
                    <button type="submit" class="btn btn-info" style="margin-top: 8px">请求充电</button>
                </form>
            </ul>
            <ul id="time" class="nav navbar-nav" style="margin-left: 46%;margin-top: 10px">
                <!--                <div style="font-size: x-large;color: white">Thu Jan 01 06:03:10 HKT 1970</div>-->
            </ul>
        </div>
    </div>
</nav>

<div class="box" id="bigbox">
    <div>
<!--        <h1>历史账单查看</h1>-->
<!--        <div style="margin-left: 10vw;display: flex;justify-content: flex-start;">-->
<!--            <h2>选择查看日期：</h2>-->
<!--            <h3 style="margin-left: 10px;">开始时间:</h3>-->
<!--            <input type="text" style="margin-left: 14px;height: 30px; margin-top:20px; width: 50px;">-->
<!--            <h3>时</h3>-->
<!--            <input type="text" style="margin-left: 4px;height: 30px; margin-top:20px; width: 50px;">-->
<!--            <h3>分</h3>-->
<!--            <h3 style="margin-left:30px;">———</h3>-->
<!--            <h3 style="margin-left:30px;">结束时间:</h3>-->
<!--            <input type="text" style="margin-left: 14px;height: 30px; margin-top:20px; width: 50px;">-->
<!--            <h3>时</h3>-->
<!--            <input type="text" style="margin-left: 4px;height: 30px; margin-top:20px; width: 50px;">-->
<!--            <h3>分</h3>-->
<!--            <button class="bot">查看</button>-->
<!--        </div>-->
        <div style="margin-left: 10vw;display: flex;justify-content: flex-start;">
            <h2>历史详单如下：</h2>
        </div>
        <div class="detailedInfo">
<!--            <div style="display: flex;">-->
<!--                &lt;!&ndash; 用户ID、车辆电池总容量(度)、请求充电量(度)、 &ndash;&gt;-->
<!--                <div style="display: flex;flex-direction:column;" class="lie1">-->
<!--                    <h2 style="margin-left: 20px;">历史充电次数：</h2>-->
<!--                </div>-->
<!--                <div style="display: flex;flex-direction:column;" class="lie2">-->
<!--                    <div style="margin-left: 20px;">-->
<!--                        <div style="display: flex;">-->
<!--                            <h2>2</h2>-->
<!--                            <h2>次</h2>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div id="billList">
<!--                <div style="display: flex;">-->
<!--                    <div style="display: flex;flex-direction:column;" class="lie1">-->
<!--                        <h3 style="margin-left: 20px;font-weight: bold">账单id：</h3>-->
<!--                        <h3 style="margin-left: 20px;">充电站id：</h3>-->
<!--                        <h3 style="margin-left: 20px;">开始充电时间：</h3>-->
<!--                        <h3 style="margin-left: 20px;">结束充电时间：</h3>-->
<!--                        <h3 style="margin-left: 20px;">充电度数：</h3>-->
<!--                        <h3 style="margin-left: 20px;">充电费用：</h3>-->
<!--                    </div>-->
<!--                    <div style="display: flex;flex-direction:column;" class="lie2">-->
<!--                        <h3 style="margin-left: 20px;">XXX</h3>-->
<!--                        <h3 style="margin-left: 20px;display: flex;">X时</h3>-->
<!--                        <h3 style="margin-left: 20px;display: flex;">X时</h3>-->
<!--                        <h3 style="margin-left: 20px;display: flex;">X时</h3>-->
<!--                        <h3 style="margin-left: 20px;display: flex;">X时</h3>-->
<!--                        <h3 style="margin-left: 20px;display: flex;">X时</h3>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div style="display: flex;">-->
<!--                    <div style="display: flex;flex-direction:column;" class="lie1">-->
<!--                        <h3 style="margin-left: 20px;font-weight: bold">账单id：</h3>-->
<!--                        <h3 style="margin-left: 20px;">充电站id：</h3>-->
<!--                        <h3 style="margin-left: 20px;">开始充电时间：</h3>-->
<!--                        <h3 style="margin-left: 20px;">结束充电时间：</h3>-->
<!--                        <h3 style="margin-left: 20px;">充电度数：</h3>-->
<!--                        <h3 style="margin-left: 20px;">充电费用：</h3>-->
<!--                    </div>-->
<!--                    <div style="display: flex;flex-direction:column;" class="lie2">-->
<!--                        <h3 style="margin-left: 20px;">XXX</h3>-->
<!--                        <h3 style="margin-left: 20px;display: flex;">X时</h3>-->
<!--                        <h3 style="margin-left: 20px;display: flex;">X时</h3>-->
<!--                        <h3 style="margin-left: 20px;display: flex;">X时</h3>-->
<!--                        <h3 style="margin-left: 20px;display: flex;">X时</h3>-->
<!--                        <h3 style="margin-left: 20px;display: flex;">X时</h3>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>

        <!-- 车辆ID、车辆电池总容量(度)、请求充电量(度)、排队时长； -->
    </div>
</div>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
<script>
    window.onload = function () {
        getTime();
        getBillList();
    }
    function getTime(){
        $.ajax({
            url: "/customer/getTime",
            type: "GET",
            data: {},
            success: function (result) {
                let time = "";
                time += "<div style=\"font-size: x-large;color: white\">" + result + "</div>";
                $("#time").html(time);
            }
        })
    }
    setInterval("getTime()", 1000); //定时每1秒获取一次时间
    function getBillList() {
        $.ajax({
            url: "/customer/requestBillList",
            type: "POST",
            data: {},
            success: function (result) {
                let msg = "";
                for (let i in result) {
                    let bill = result[i];
                    msg += "<div style=\"display: flex;\">\n" +
                        "                <div style=\"display: flex;flex-direction:column;\" class=\"lie1\">\n" +
                        "                    <h3 style=\"margin-left: 20px;font-weight: bold\">账单id：</h3>\n" +
                        "                    <h3 style=\"margin-left: 20px;\">充电站id：</h3>\n" +
                        "                    <h3 style=\"margin-left: 20px;\">开始充电时间：</h3>\n" +
                        "                    <h3 style=\"margin-left: 20px;\">结束充电时间：</h3>\n" +
                        "                    <h3 style=\"margin-left: 20px;\">充电度数：</h3>\n" +
                        "                    <h3 style=\"margin-left: 20px;\">充电费用：</h3>\n" +
                        "                </div>\n" +
                        "                <div style=\"display: flex;flex-direction:column;\" class=\"lie2\">\n" +
                        "                    <h3 style=\"margin-left: 20px;\">"+ bill['billid'] +"</h3>\n" +
                        "                   <h3 style=\"margin-left: 20px;display: flex;\">"+ bill['chargingpileid'] +"</h3>\n" +
                        "                    <h3 style=\"margin-left: 20px;display: flex;\">" + bill['startdate'] + "</h3>\n" +
                        "                    <h3 style=\"margin-left: 20px;display: flex;\">" + bill['enddate'] + "</h3>\n" +
                        "                    <h3 style=\"margin-left: 20px;display: flex;\">" + bill['chargingnum'].toFixed(1) + "度</h3>\n" +
                        "                    <h3 style=\"margin-left: 20px;display: flex;\">" + bill['totalfee'] + "元</h3>\n" +
                        "                </div>\n" +
                        "            </div>";
                }
                $("#billList").html(msg);
            },
            error: function () {
                alert("获取账单失败！");
            }
        })
    }
</script>
</body>
</html>