<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/log_in.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/userBill.css">
    <title>用户历史账单</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <form action="/customer/user" method="get">
                    <button type="submit" class="btn btn-info" style="margin-top: 8px">个人主页</button>
                </form>
            </ul>
        </div>
    </div>
</nav>

<div class="box" id="bigbox">
    <div>

        <h1>历史账单查看</h1>
        <div style="margin-left: 10vw;display: flex;justify-content: flex-start;">
            <h2>选择查看日期：</h2>
            <h3 style="margin-left: 10px;">开始时间:</h3>
            <input type="text" style="margin-left: 14px;height: 30px; margin-top:20px; width: 50px;">
            <h3>时</h3>
            <input type="text" style="margin-left: 4px;height: 30px; margin-top:20px; width: 50px;">
            <h3>分</h3>
            <h3 style="margin-left:30px;" >———</h3>
            <h3 style="margin-left:30px;">结束时间:</h3>
            <input type="text" style="margin-left: 14px;height: 30px; margin-top:20px; width: 50px;">
            <h3>时</h3>
            <input type="text" style="margin-left: 4px;height: 30px; margin-top:20px; width: 50px;">
            <h3>分</h3>
            <button class="bot">查看</button>`
        </div>

        <div style="margin-left: 10vw;display: flex;justify-content: flex-start;">
            <h3>历史详单如下：</h2>
        </div>
        <div class="detailedInfo">
            <div style="display: flex;">
                <!-- 用户ID、车辆电池总容量(度)、请求充电量(度)、 -->
                <div style="display: flex;flex-direction:column;" class="lie1">
                    <h2 style="margin-left: 20px;">历史充电次数：</h2>
                </div>
                <div style="display: flex;flex-direction:column;" class="lie2">
                    <div style="margin-left: 20px;">
                        <div style="display: flex;">
                            <h2>2</h2>
                            <h2>次</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: flex;flex-direction:column;" class="lie1">
                <h3 style="margin-left: 20px; font-weight: bold;">充电次数1：</h3>
            </div>
            <div style="display: flex;">
                <div style="display: flex;flex-direction:column;" class="lie1">
                    <h3 style="margin-left: 20px;">充电站名称：</h3>
                    <h3 style="margin-left: 20px;">充电时间：</h3>
                    <h3 style="margin-left: 20px;">充电度数：</h3>
                    <h3 style="margin-left: 20px;">充电费用：</h3>
                </div>
                <div style="display: flex;flex-direction:column;" class="lie2">
                    <h3 style="margin-left: 20px;">XXX</h3>
                    <div style="margin-left: 20px;">
                        <div style="display: flex;">
                            <h3>X</h3>
                            <h3>时</h3>
                        </div>
                    </div>
                    <div style="margin-left: 20px;">
                        <div style="display: flex;">
                            <h3>X</h3>
                            <h3>度</h3>
                        </div>
                    </div>
                    <div style="margin-left: 20px;">
                        <div style="display: flex;">
                            <h3>X</h3>
                            <h3>元</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div style="display: flex;flex-direction:column;" class="lie1">
                <h3 style="margin-left: 20px; font-weight: bold;">充电次数2：</h3>
            </div>
            <div style="display: flex;">
                <div style="display: flex;flex-direction:column;" class="lie1">
                    <h3 style="margin-left: 20px;">充电站名称：</h3>
                    <h3 style="margin-left: 20px;">充电时间：</h3>
                    <h3 style="margin-left: 20px;">充电度数：</h3>
                    <h3 style="margin-left: 20px;">充电费用：</h3>
                </div>
                <div style="display: flex;flex-direction:column;" class="lie2">
                    <h3 style="margin-left: 20px;">XXX</h3>
                    <div style="margin-left: 20px;">
                        <div style="display: flex;">
                            <h3>X</h3>
                            <h3>时</h3>
                        </div>
                    </div>
                    <div style="margin-left: 20px;">
                        <div style="display: flex;">
                            <h3>X</h3>
                            <h3>度</h3>
                        </div>
                    </div>
                    <div style="margin-left: 20px;">
                        <div style="display: flex;">
                            <h3>X</h3>
                            <h3>元</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 车辆ID、车辆电池总容量(度)、请求充电量(度)、排队时长； -->
    </div>
</div>


</body>
</html>