<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/waitingQueue.css">
    <title>等候区</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <form action="/goodslist" method="get">
                        <button type="submit" class="btn btn-info" style="margin-top: 8px;margin-right: 15px">首页</button>
                    </form>
                </ul>
                <ul class="nav navbar-nav">
                    <form action="/release" method="get">
                        <button type="submit" class="btn btn-info" style="margin-top: 8px">个人主页</button>
                    </form>
                </ul>
            </div>
        </div>
    </nav>
<!--    <button class="littlebox" onclick="window.location.href='user.html'">-->
<!--        当前用户：jst-->
<!--    </button>-->
    <div class="box" id="bigbox">
        <h1 style="margin-top: 3px;">排队中....</h1>
        <!-- <div style="margin-left: 50px;">充电类型：
            <input id="user" style="margin-left: 24px;" type="text" placeholder="请输入用户名">
        </div> -->
    </div>
    <div class="box2">
        <div style="width: 15vw; margin-left: 10vw; margin-top: 10px;">
            <div style="display: flex; justify-content:space-between;">
                <div> 目前位于 ：</div>
                <div> 等候区</div>
            </div>
        </div>
        <div style="width: 15vw; margin-left: 10vw; margin-top: 10px;">
            <div style="display: flex; justify-content:space-between;">
                <div> 号码 ：</div>
                <div> F1</div>
            </div>
        </div>
        <div style="width: 18vw; margin-left: 10vw; margin-top: 10px;">
            <div style="display: flex; justify-content:space-between;">
                <div>前面还有</div>
                <div>X</div>
                <div>辆车在等待</div>
            </div>
        </div>
        <!-- <div>
            <label>充电类型：</label>
            <input  style="margin-left: 40px;" name='subject' type="checkbox" value="fast" οnclick="test1(this)"><label>快充</label>
            <input name='subject' type="checkbox" value="slow" οnclick="test2(this)"><label>慢充</label>
        </div>
        <div style="margin-left: 42px; margin-top: 10px;">充电时长：
            <input id="password" style="margin-left: 20px;" type="password" placeholder="单位：小时">
        </div> -->
        <div style="display: flex;width: 28vw; margin-left: 4vw;justify-content:space-between;">
            <button style="margin-top:40px;" onclick="window.location.href='submitRequest.html'" class="bot">修改充电请求</button>
            <button style="margin-top:40px;" onclick="window.location.href='submitRequest.html'" class="bot">取消排队</button>
        </div>
    </div>
</body>

</html>