<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/waitingQueue.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/waitingQueue.css">
    <title>等候区</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <form action="/goodslist" method="get">
                    <button type="submit" class="btn btn-info" style="margin-top: 8px;margin-right: 15px">首页</button>
                </form>
            </ul>
            <ul class="nav navbar-nav">
                <form action="/release" method="get">
                    <button type="submit" class="btn btn-info" style="margin-top: 8px">个人主页</button>
                </form>
            </ul>
        </div>
    </div>
</nav>
<!--    <button class="littlebox" onclick="window.location.href='user.html'">-->
<!--        当前用户：jst-->
<!--    </button>-->
<div class="box" id="bigbox">
    <h1 style="margin-top: 3px;">排队中....</h1>
    <!-- <div style="margin-left: 50px;">充电类型：
        <input id="user" style="margin-left: 24px;" type="text" placeholder="请输入用户名">
    </div> -->
</div>
<div class="box2">
    <div id="location">
        <div style="display: flex; justify-content:space-between;width: 15vw; margin-left: 10vw; margin-top: 10px;">
            <div> 目前位于 ：</div>
            <div> 等待区</div>
        </div>
        <div style="display: flex; justify-content:space-between;width: 15vw; margin-left: 10vw; margin-top: 10px;">
            <div> 所在充电桩 ：</div>
            <div> 快充A</div>
        </div>
    </div>
    <div style="display: flex; justify-content:space-between;width: 15vw; margin-left: 10vw; margin-top: 10px;">
        <div> 充电类型 ：</div>
        <div id="chargingMode"></div>
    </div>
<!--    <div style="display: flex; justify-content:space-between;width: 18vw; margin-left: 10vw; margin-top: 10px;">-->
<!--        <div>前面还有</div>-->
<!--        <div>X</div>-->
<!--        <div>辆车在等待</div>-->
<!--    </div>-->
    <!-- <div>
        <label>充电类型：</label>
        <input  style="margin-left: 40px;" name='subject' type="checkbox" value="fast" οnclick="test1(this)"><label>快充</label>
        <input name='subject' type="checkbox" value="slow" οnclick="test2(this)"><label>慢充</label>
    </div>
    <div style="margin-left: 42px; margin-top: 10px;">充电时长：
        <input id="password" style="margin-left: 20px;" type="password" placeholder="单位：小时">
    </div> -->
    <div style="display: flex;width: 28vw; margin-left: 4vw;justify-content:space-between;">
        <button style="margin-top:40px;" onclick="window.location.href='submitRequest.html'" class="bot">修改充电请求</button>
        <button style="margin-top:40px;" onclick="window.location.href='submitRequest.html'" class="bot">取消排队</button>
        <button style="margin-top:40px;" onclick="window.location.href='submitRequest.html'" class="bot">查询队列</button>
    </div>
</div>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
<script>
    window.onload = function () {
        getStatus();
    }

    function getStatus() {
        $.ajax({
            url: "/customer/checkCarState",
            type: "GET",
            data: {},
            success: function (result) {
                let status = result;
                let msg = "";
                if (status['carState'] == "readyCharge") { //充电中
                    window.location.href = "/customer/startRecharge";
                } else if (status['carState'] == "waiting") { //排队中
                    let location = status['location'];
                    let chargingMode = status['chargingMode'];
                    if (location == "充电区") { //位于充电区
                        msg += "<div style=\"display: flex; justify-content:space-between;width: 15vw; margin-left: 10vw; margin-top: 10px;\">\n" +
                            "                <div> 目前位于 ：</div>\n" +
                            "                <div> 充电区 </div>\n" +
                            "            </div>\n" +
                            "            <div style=\"display: flex; justify-content:space-between;width: 15vw; margin-left: 10vw; margin-top: 10px;\">\n" +
                            "                <div> 所在充电桩 ：</div>\n" +
                            "                <div> " + status['chargingPile'] + " </div>\n" +
                            "            </div>";
                    } else { //位于等待区
                        msg += "<div style=\"display: flex; justify-content:space-between;width: 15vw; margin-left: 10vw; margin-top: 10px;\">\n" +
                            "                <div> 目前位于 ：</div>\n" +
                            "                <div> 等待区 </div>\n" +
                            "            </div>";
                    }
                    $("#location").html(msg);
                    $("#chargingMode").html(chargingMode);
                }
            }
        })
    }
    setInterval("getStatus()", 10000); //定时每10秒获取一次消息
</script>
</body>

</html>