<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/waitingQueue.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/waitingQueue.css">
    <title>等候区</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <form action="/customer/user" method="get">
                    <button type="submit" class="btn btn-info" style="margin-top: 8px">个人主页</button>
                </form>
            </ul>
        </div>
    </div>
</nav>
<div class="box" id="bigbox">
    <h1 style="margin-top: 3px;">排队中....</h1>
</div>
<div class="box2">
    <div id="info">
<!--        <div style="display: flex; justify-content:space-between;width: 15vw; margin-left: 10vw; margin-top: 10px;">-->
<!--            <div> 目前位于 ：</div>-->
<!--            <div> 等待区</div>-->
<!--        </div>-->
        <div style="display: flex; justify-content:space-between;width: 15vw; margin-left: 10vw; margin-top: 10px;">
            <div> 所在充电桩 ：</div>
            <div> 快充A</div>
        </div>
    </div>

    <div style="display: flex;width: 28vw; margin-left: 4vw;justify-content:space-between;">
        <form action="/customer/changeRequest" method="GET">
            <button style="margin-top:40px; "type="submit" class="bot">修改充电请求</button>
        </form>
        <button style="margin-top:40px;" onclick="cancelRecharge()" class="bot">取消排队</button>
        <button style="margin-top:40px;" onclick="getQueueInfo()" class="bot">查询队列</button>
    </div>
</div>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
<script th:inline="javascript">
    window.onload = function () {
        getStatus();
    }

    function getStatus() {
        //let RequestInfo = [[${requestInfo}]]
        $.ajax({
            url: "/customer/checkCarState",
            type: "POST",
            data: {},
            success: function (result) {
                let status = result;
                let msg = "";
                if (status.carState == "readyCharge") { //充电中
                    window.location.href = "/customer/startRecharge";
                } else { //排队中
                    let chargingMode;
                    let queueStatus;
                    if(status.chargingMode == "fast"){
                        chargingMode = "快充";
                    } else if(status.chargingMode == "slow") {
                        chargingMode = "慢充";
                    } else {
                        chargingMode = "加载中...";
                    }
                    if(status.queue_num){
                        queueStatus = status.queue_num;
                    } else {
                        queueStatus = "加载中...";
                    }
                    if (status.location == "充电区") { //位于充电区
                        msg += "<div style=\"display: flex; justify-content:space-between;width: 15vw; margin-left: 10vw; margin-top: 10px;\">\n" +
                            "                <div> 目前位于 ：</div>\n" +
                            "                <div> 充电区 </div>\n" +
                            "            </div>\n" +
                            "            <div style=\"display: flex; justify-content:space-between;width: 15vw; margin-left: 10vw; margin-top: 10px;\">\n" +
                            "                <div> 所在充电桩 ：</div>\n" +
                            "                <div> " + status['chargingPile'] + " </div>\n" +
                            "            </div>" +
                            "   <div style=\"display: flex; justify-content:space-between;width: 15vw; margin-left: 10vw; margin-top: 10px;\">\n" +
                            "        <div> 充电类型 ：</div>\n" +
                            "        <div> " + chargingMode + " </div>\n" +
                            "    </div>" +
                            "   <div style=\"display: flex; justify-content:space-between;width: 15vw; margin-left: 10vw; margin-top: 10px;\">\n" +
                            "            <div> 队列情况 ：</div>\n" +
                            "        <div> " + queueStatus + " </div>\n" +
                            "   </div>";
                    } else { //位于等待区
                        msg += "<div style=\"display: flex; justify-content:space-between;width: 15vw; margin-left: 10vw; margin-top: 10px;\">\n" +
                            "                <div> 目前位于 ：</div>\n" +
                            "                <div> 等待区 </div>\n" +
                            "            </div>" +
                            "   <div style=\"display: flex; justify-content:space-between;width: 15vw; margin-left: 10vw; margin-top: 10px;\">\n" +
                            "        <div> 充电类型 ：</div>\n" +
                            "        <div> " + chargingMode + " </div>\n" +
                            "    </div>" +
                            "   <div style=\"display: flex; justify-content:space-between;width: 15vw; margin-left: 10vw; margin-top: 10px;\">\n" +
                            "            <div> 队列情况 ：</div>\n" +
                            "        <div> " + queueStatus + " </div>\n" +
                            "   </div>";
                    }
                    $("#info").html(msg);
                }
            }
        })
    }
    setInterval("getStatus()", 1000); //定时每10秒获取一次消息

    function cancelRecharge() {
        
    }

    function getQueueInfo() {
        $.ajax({
            url: "/customer/requestQueue",
            type: "POST",
            data: {},
            success: function (result) {
                if (result == "success") {
                    alert("");
                } else if(result == "failed") {
                    alert("充电区不允许修改充电请求！");
                }
            }
        });
    }
</script>
</body>

</html>